.card{
    background-color: #000;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
    justify-self: center;
}

.card h3{
    font-size: 20px;
    color: #dc143c;
}
.card p{
    color: #dc143c
}
.card button {
    padding: 10px 20px;
    color: #fff;
    background-color: #dc143c;
    border: none;
    border-radius: 5px;
}