.estiloEtc{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    letter-spacing: 1px;

}
#esportes{
    background-color: #008000;
    color: #fff;
}
#negocios{
    background-color: #00f;
    color: #fff;
}
